<div class="container">
  <form [formGroup]="form" (ngSubmit)="setItem()">
    <div class="row" style="margin-top: 50px;">
      <div class="col-3">
        <input type="text" formControlName="key" class="form-control" placeholder="Key">
      </div>
      <div class="col-3">
        <input type="text" formControlName="value" class="form-control" placeholder="Value">
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col">
        <div class="btn-group" role="group">
          <button type="submit" class="btn btn-primary">Set</button>
          <button type="button" class="btn btn-primary" (click)="clear()">Clear All</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row" *ngFor="let item of localStorageItems" style="margin-top: 5px;">
    <div class="col">
      <span>{{item.key}}</span> : <span>{{item.value}}</span>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="removeItem(item.key)">X</button>
    </div>
  </div>
</div>
